#editor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 96vh;
}

#preview {
  overflow-y: scroll;
  padding: 0px 0px 0px 24px;
  height: calc(100% - 16px);
  width: calc(50% - 48px);
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: #c5cae9;
}

#title {
  margin-right: 24px;
  font-weight: bold;
}

#button {
  margin-left: 2px;
}
